<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Four Value Form</title>
</head>
<body>

<h2>{{ question_prelude }}</h2>


<ul>
    {% for variable in given_vars %}
        <li>{{ variable }}</li>
    {% endfor %}
</ul>

<br>
<h2>Please fill in the below values.</h2>
<form action="#" method="post">
    {% for variable in target_vars %}
        <label for="{{variable[0]}}">{{variable[0]}}: </label>
        <input type="text" id="{{variable[0]}}" name="{{variable[0]}}">
        <input type="hidden" name="{{variable[0]}}-answer" value="{{variable[2]}}">
        <br>

    {% endfor %}
    <input type="submit" value="Submit">
</form>

</body>
</html>
