\documentclass{article}
\usepackage{geometry}

\usepackage{times}

\usepackage{tcolorbox}

\usepackage{graphicx} % Required for inserting images
\usepackage{booktabs}
\usepackage[final]{listings}
\usepackage[nounderscore]{syntax}
\usepackage{caption}
\newenvironment{BNF}
{\captionsetup{type=lstlisting}}
{}


\usepackage{booktabs}
\usepackage{xifthen}
\usepackage{multicol}

\usepackage{randomlist}

\usepackage{pgf}
\pgfmathsetseed{\number\pdfrandomseed} % to ensure that it is randomized
% use \randomseed for xelatex


\newcounter{NumQuestions}
\newcounter{NumPoints}
\newcommand{\question}[1]{ %
    \vspace{1cm}\par %
    \stepcounter{NumQuestions} %
    \addtocounter{NumPoints}{ #1 } %
    \noindent\begin{minipage}[t]{0.9\textwidth}
    \noindent\textbf{Question \theNumQuestions:} \\%
    \ttfamily %
    \end{minipage}
    \noindent\begin{minipage}[t]{0.1\textwidth}
    \vspace{0pt}
    \noindent\null\hfill \rule{0.5cm}{0.15mm} / #1
    \end{minipage}
    \par
    }
    \newcommand{\answerblank}[1]{\rule[-1.5mm]{#1cm}{0.15mm}
}

\usepackage{subcaption}

\usepackage{enumitem}
\setlist{itemsep=1.25em}


\lstset{
    language=C,
    basicstyle=\ttfamily,
    morekeywords={pthread_mutex_lock, pthread_cond_wait, shared_data, pthread_mutex_unlock},
    breaklines=true,          % Enable automatic line breaking
    breakatwhitespace=true,   % Break only at whitespaces
}

\newcommand{\ifequals}[3]{\ifthenelse{\equal{#1}{#2}}{#3}{}}
\newcommand{\case}[2]{#1 #2} % Dummy, so \renewcommand has something to overwrite...
\newenvironment{switch}[1]{\renewcommand{\case}{\ifequals{#1}}}{}

\newcommand{\todo}[1]{\color{red}\textbf{TODO: \textit{#1}}}

\title{CST334 Exam}

\begin{document}

\noindent\Large <VAR> get_exam_name() </VAR> Fall 2023 \hfill\normalsize Name: \answerblank{5}
\normalsize

\vspace{5mm}

\noindent\textbf{Instructions:}
You have 110 minutes to complete this exam.
Questions are arranged in order of decreasing value.
Please fill out questions by circling the appropriate answer, or using the space provided.
No devices besides calculators are allowed to be used during the exam.

<VAR> generate_exam(100) </VAR>

\vspace*{\fill}
\null\hfill \rule{0.5cm}{0.15mm} / \theNumPoints

\end{document}
